<!DOCTYPE html>
<html>
<head>
	<!--[if lte IE 8]><script src="/static/js/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flot.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flot.time.js"></script>
    <script type="text/javascript" src="/static/js/scholar.js"></script>
</head>
<body>
	<div align='center'>
		<div>
			<table border='1'>
				<tr id='date_tr'>
					<th>日期</th>
				</tr>
				<tr id='delta_tr'>
					<th>增量</th>
				</tr>
				<tr id='total_tr'>
					<th>增至</th>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>